* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-size: 64.25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  margin: 100px auto;
  /* border: 2px solid green; */
  text-align: center;
  width: 200px;
  height: 100px;
 
}
button{
  color:#fff;
  background-color: purple;
  text-transform: capitalize;
  cursor: pointer;
  padding:.5rem 1rem;
  margin:.5rem;
  border-radius: 10px;
  border:none;
  outline: none;
}
